.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

.top_list .top_list_main a,
.main .main_main .left_nav .left_nav_li a,
.main .main_main .main_info .main_info_top_nav a{
    color: black;   
}

body,
.main .main_main .main_info {
    background-image: linear-gradient(to right, rgb(235, 232, 226), rgb(209, 204, 192));
}

.header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color:rgba(250, 240, 219, 0.432);
}

.header .header_main {
    width: 75%;
    height: 100%;
    margin: 0px auto;
}

.header .header_main .img {
    position: absolute;
    left: 0px;
}

.header .header_main .img img{
    width: auto;
    height: 80px;
}

.header .header_main .info {
    float: right;
    width: 300px;
    height: 80px;
    line-height: 80px;
}

.header .header_main .info .div_name,
.header .header_main .info .div_id {
    float: left;
    width: 50%;
    height: 80px;
}

.title {
    position: absolute;
    z-index: 999;
    top: 0px;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.title .title_main {
    width: 400px;
    /* margin: 0px auto; */
    margin-left: 360px;
    text-align: center;
}

.title .title_main span {
    display: block;
    width: 400px;
    line-height: 80px;
    margin: 0px auto;
    font-size: 30px;
    font-weight: bold;
    color: rgb(165, 159, 159);
}

.top_list {
    position: absolute;
    z-index: 1000;
    top: 0px;
    padding-top: 80px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: transparent;
}

.top_list:hover .top_list_main{
    display: block;
    background-image: linear-gradient(to right, rgb(235, 232, 226), rgb(209, 204, 192));
}

.top_list .top_list_main {
    display: none;
    padding-left: 360px;
}

.top_list .top_list_main li {
    float: left;
    width: 100px;
    text-align: center;
}

.top_list .top_list_main li:hover {
    background-color: #fff;
}

.main {
    width: 100%;
    height: 700px;
    margin-top: 60px;
    /* background-color: #bfa; */
}

.main .main_main {
    position: relative;
    width: 75%;
    height: 100%;
    margin: 0px auto;
    /* background-color: orange; */
}

.main .main_main .left_nav {
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 100%;
    overflow: auto;
    border: 20px solid white;
    /* background-color: #fff; */
}

.main .main_main .left_nav .left_nav_li {
    text-align: center;
    /* height: 40px; */
    line-height: 40px;
}

.main .main_main .left_nav .left_nav_li .left_nav_title{
    display: block;
    font-weight: bold;
    background-color: rgb(223, 217, 217);
}

.main .main_main .left_nav .left_nav_li li {
    background-color: #fff;
}

.main .main_main .main_info {
    position: relative;
    z-index: 11;
    width: 1152px;
    height: 100%;
    margin-left: 300px;
    border: 20px solid white;
}

.main .main_main .main_info .main_info_title {
    line-height: 60px;
    font-weight: bold;
}

.main .main_main .main_info .main_info_title .main_info_title_span {
    width: 100px;
    margin-left: 50px;
}

.main .main_main .main_info .main_info_top_nav {
    line-height: 60px;
}

.main .main_main .main_info .main_info_top_nav ul {
    float: left;
    margin-left: 20px;
    border: 1px solid rgb(165, 159, 159);
    border-right: none;
    border-bottom: none;
}

.main .main_main .main_info .main_info_top_nav ul li {
    float: left;
    width: 150px;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(165, 159, 159);
    border-left: none;
    border-top: none;
}

.main .main_main .main_info .main_info_top_nav ul li:hover,
.main .main_main .main_info .main_info_top_nav ul li.hightlight {
    background-color: rgb(223, 217, 217);
}

.main .main_main .main_info .main_body {
    position: absolute;
    bottom: 0px;
    width: 1132px;
    height: 550px;
    margin-left: 20px;
    overflow: auto;
}

.main .main_main .main_info .main_body table {
    /* float: left; */
    border: 1px solid rgb(165, 159, 159);
    border-right: none;
    border-bottom: none;
    margin-bottom: 20px;
    /* background-color: red; */
}

.main .main_main .main_info .main_body input
{
    display: block;
    background-color: rgb(241, 241, 241);
    border: 1px solid #C8C8C8;
    border-bottom: none;
    outline-style: none;
    width: 280px;
    padding: 15px 10px;
}

.main .main_main .main_info .main_body input#submit,
.main .main_main .main_info .main_body input#reset {
    display: inline-block;
    width: 45px;
    border: 1px solid #C8C8C8;
    padding: 3px 0px;
    margin: 20px 0px 0px 70px;
}

.main .main_main .main_info .main_body input#submit:active,
.main .main_main .main_info .main_body input#reset:active {
    background-color:#fff9f9;
    border: 1px solid #c8c8c8be;
}

.main .main_main .main_info .main_body input:nth-last-of-type(3),
.main .main_main .main_info .main_body input.have_border_botom  {
    border: 1px solid #C8C8C8;
}

.main .main_main .main_info .main_body .main_change_info_table {
    float: left;
}

.main .main_main .main_info .main_body .main_body_form_right {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}

.main .main_main .main_info .main_body td {
    width: 200px;
    height: 80px;
    line-height: 80px;
    border: 1px solid rgb(165, 159, 159);
    border-top: none;
    border-left: none;
    text-align: center;
}

.main .main_main .main_info .main_body table:not(.main_body_not_change) {
    margin-top: 20px;
}